@font-face {
    font-family: Poppins;
    src: url(../fonsts/Poppins-Medium.ttf) format(truetype);
}
.navbar__1{
    width: 100%;
    height: 90pxz;
    background: #181818;
    display: flex;
    align-items: center;
    position: fixed;
}
.navbar__img1{
    width: 128px;
    height: 31px;
    background: #181818;
    margin-left: 152px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.navbar__ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar__li1{
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    margin-right: 56px;
    margin-left: 340px;
}
.navbar__li2{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-right: 32px;
}
.navbar__li3{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-right: 32px;
}
.navbar__li4{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-right: 31px;
}
.navbar__button{
    width: 155px;
    height: 42px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
    border-radius: 14px;
    background: #FFF;
    transition: all 0.4s linear;
    margin-right: 140px;
}
.navbar__button:hover{
    background-color: red;
    color: blue;
}
.navbar__button:active{
    background-color: yellow;
    color: #000;
}